#container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: antiquewhite;
    align-items: center;
}

#input_pokemon{
    width: 70%;
    height: 30px;
    border-radius: 10px;
    font-size: x-large;
    padding-left: 15px;
    font-family: 'Courier New', Courier, monospace;
}

#button_search{
    width: 40%;
    height: 30px;
    border-radius: 8px;
    margin-top: 15px;
    font-size: larger;
}

#pokemon-information{
    width: 80%;
    height: 300px;
    background-color: floralwhite;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 9px;
}

#show-info{
    width: 80%;
    height: 80%;
}
    

